<component name="libraryTable">
  <library name="spring-aop-5.0.2.RELEASE-javadoc">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aspects-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-indexer-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-support-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-instrument-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jdbc-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jms-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-messaging-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-orm-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-test-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-tx-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-web-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-webflux-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-webmvc-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-websocket-5.0.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aspects-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-indexer-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-support-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-instrument-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jdbc-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jms-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-messaging-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-orm-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-test-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-tx-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-web-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-webflux-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-webmvc-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-websocket-5.0.2.RELEASE-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aspects-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-indexer-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-instrument-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-orm-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-tx-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-webmvc-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.0.2.RELEASE-sources.jar!/org/springframework/beans/factory/xml" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-support-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-support-5.0.2.RELEASE-sources.jar!/org/springframework/mail/javamail" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-support-5.0.2.RELEASE-sources.jar!/org/springframework/ui/freemarker" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jdbc-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jdbc-5.0.2.RELEASE-sources.jar!/org/springframework/jdbc/core/simple" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jms-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jms-5.0.2.RELEASE-sources.jar!/org/springframework/jms/core/support" />
      <root url="jar://$PROJECT_DIR$/lib/spring-messaging-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-messaging-5.0.2.RELEASE-sources.jar!/org/springframework/messaging/core" />
      <root url="jar://$PROJECT_DIR$/lib/spring-messaging-5.0.2.RELEASE-sources.jar!/org/springframework/messaging/tcp" />
      <root url="jar://$PROJECT_DIR$/lib/spring-messaging-5.0.2.RELEASE-sources.jar!/org/springframework/messaging/tcp/reactor" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-5.0.2.RELEASE-sources.jar!/org/springframework/oxm/castor" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-5.0.2.RELEASE-sources.jar!/org/springframework/oxm/config" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-5.0.2.RELEASE-sources.jar!/org/springframework/oxm/jaxb" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-5.0.2.RELEASE-sources.jar!/org/springframework/oxm/jibx" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-5.0.2.RELEASE-sources.jar!/org/springframework/oxm/mime" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-5.0.2.RELEASE-sources.jar!/org/springframework/oxm/support" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-5.0.2.RELEASE-sources.jar!/org/springframework/oxm/xstream" />
      <root url="jar://$PROJECT_DIR$/lib/spring-test-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-test-5.0.2.RELEASE-sources.jar!/org/springframework/mock/env" />
      <root url="jar://$PROJECT_DIR$/lib/spring-test-5.0.2.RELEASE-sources.jar!/org/springframework/mock/web/reactive/function/server" />
      <root url="jar://$PROJECT_DIR$/lib/spring-test-5.0.2.RELEASE-sources.jar!/org/springframework/mock/web/server" />
      <root url="jar://$PROJECT_DIR$/lib/spring-web-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-web-5.0.2.RELEASE-sources.jar!/org/springframework/web/bind/support" />
      <root url="jar://$PROJECT_DIR$/lib/spring-web-5.0.2.RELEASE-sources.jar!/org/springframework/web/jsf" />
      <root url="jar://$PROJECT_DIR$/lib/spring-web-5.0.2.RELEASE-sources.jar!/org/springframework/web/jsf/el" />
      <root url="jar://$PROJECT_DIR$/lib/spring-webflux-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-webflux-5.0.2.RELEASE-sources.jar!/org/springframework/web/reactive/accept" />
      <root url="jar://$PROJECT_DIR$/lib/spring-websocket-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-websocket-5.0.2.RELEASE-sources.jar!/org/springframework/web/socket/client" />
      <root url="jar://$PROJECT_DIR$/lib/spring-websocket-5.0.2.RELEASE-sources.jar!/org/springframework/web/socket/client/jetty" />
      <root url="jar://$PROJECT_DIR$/lib/spring-websocket-5.0.2.RELEASE-sources.jar!/org/springframework/web/socket/client/standard" />
      <root url="jar://$PROJECT_DIR$/lib/spring-websocket-5.0.2.RELEASE-sources.jar!/org/springframework/web/socket/config" />
      <root url="jar://$PROJECT_DIR$/lib/spring-websocket-5.0.2.RELEASE-sources.jar!/org/springframework/web/socket/config/annotation" />
    </SOURCES>
  </library>
</component>